{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/b6b4c8d3e7.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: "#991208",
            },
          },
        },
      };
    </script>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>

  <body>
    <div class="min-h-12 py-4 md:py-0 bg-black">
      <div class="container px-4 m-auto flex justify-between flex-wrap gap-4">
        <div class="md:h-12 flex items-center gap-5 flex-wrap">
          <a
            href="mailto:mumininternational@gmail.com"
            class="text-white text-sm flex items-center gap-2 flex-nowrap"
          >
            <i class="fa-solid fa-envelope"></i>
            <span>mumininternational@gmail.com</span>
          </a>
          <a
            href="tel:+393297456819"
            class="text-white text-sm flex items-center gap-2 flex-nowrap"
          >
            <i class="fa-solid fa-phone"></i>
            <span>+39 329 745 6819</span>
          </a>
          <a
            href="#"
            class="text-white text-sm flex items-center gap-2 flex-nowrap"
          >
            <i class="fa-brands fa-whatsapp"></i>
            <span>+39 329 745 6819</span>
          </a>
        </div>
        <div class="lg:h-12 flex t items-center gap-4">
          <a
            href="mailto:mumininternational@gmail.com"
            class="text-white text-sm flex items-center gap-2"
          >
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a
            href="mailto:mumininternational@gmail.com"
            class="text-white text-sm flex items-center gap-2"
          >
            <i class="fa-solid fa-x"></i>
          </a>
          <a
            href="mailto:mumininternational@gmail.com"
            class="text-white text-sm flex items-center gap-2"
          >
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a
            href="mailto:mumininternational@gmail.com"
            class="text-white text-sm flex items-center gap-2"
          >
            <i class="fa-brands fa-youtube"></i>
          </a>
          <a href="#" class="text-white text-sm flex items-center gap-2">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </div>
      </div>
    </div>
    <nav class="bg-white h-20">
      <div class="container m-auto flex justify-between">
        <div class="h-20 flex items-center">
          <a href="/"
            ><img
              src="{% static 'assets/logo.png' %}"
              class="h-16"
              alt="Mumin International"
          /></a>
        </div>
        <div>
          <ul class="h-20 gap-1 justify-between items-center hidden md:flex">
            <li
              class="text-base font-sans font-semibold py-6 px-3 hover:py-3 hover:bg-primary hover:text-white transtion-all duration-300"
            >
              <a href="#">HOME</a>
            </li>
            <li
              class="dropdown-wrap z-10 relative text-base font-sans font-semibold py-6 px-3 hover:py-3 hover:bg-primary hover:text-white transtion-all duration-300"
            >
              <a href="#" class="">
                <span>CURRENT JOBS</span>
                <i class="fa-solid fa-angle-down"></i>
              </a>
              <ul
                class="dropdown absolute left-0 top-12 bg-black text-white w-56 transtion-all duration-300"
              >
                {% for country in countries %}
                <li class="border-b-[1px] px-5 py-3 text-sm hover:bg-primary">
                  <a class="block" href=" {{country.id}}">{{country.name}}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
            <li
              class="dropdown-wrap z-10 relative text-base font-sans font-semibold py-6 px-3 hover:py-3 hover:bg-primary hover:text-white transtion-all duration-300"
            >
              <a href="#" class="">
                <span>EMPLOYERS</span>
                <i class="fa-solid fa-angle-down"></i>
              </a>
              <ul
                class="dropdown absolute left-0 top-12 bg-black text-white w-56 transtion-all duration-300"
              >
                {% for country in countries %}
                <li class="border-b-[1px] px-5 py-3 text-sm hover:bg-primary">
                  <a class="block" href="#">{{country.name}}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
            <li
              class="dropdown-wrap z-10 relative text-base font-sans font-semibold py-6 px-3 hover:py-3 hover:bg-primary hover:text-white transtion-all duration-300"
            >
              <a href="#">
                <span>CONTACT US</span>
                <i class="fa-solid fa-angle-down"></i>
              </a>
              <ul
                class="dropdown absolute left-0 top-12 bg-black text-white w-56 transtion-all duration-300"
              >
                {% for country in countries %}
                <li class="border-b-[1px] px-5 py-3 text-sm hover:bg-primary">
                  <a class="block" href="#">{{country.name}}</a>
                </li>
                {% endfor %}
              </ul>
            </li>

            <li>
              <a
                class="px-3 py-2 bg-[#d9534f] hover:bg-primary font-sans text-white rounded text-sm"
                href=""
                >Quick Register</a
              >
            </li>

            <li>
              <a
                class="px-3 py-2 bg-[#d9534f] hover:bg-primary font-sans text-white rounded text-sm"
                href=""
                >Work & Study in Canada</a
              >
            </li>
          </ul>
          <div class="flex h-20 items-center md:hidden">
            <i id="menu-btn" class="fa-solid fa-bars px-5 py-2 pointer"></i>
          </div>
        </div>
      </div>
      <div id="topnav">
        <ul class="justify-between md:hidden flex flex-col bg-slate-900">
          <li
            class="text-base border-b-[1px] font-sans font-semibold py-3 px-3 hover:py-3 hover:bg-primary text-white transtion-all duration-300"
          >
            <a href="#">HOME</a>
          </li>
          <li
            class="dropdown-wrap border-b-[1px] relative text-base font-sans font-semibold py-3 px-3 hover:py-3 hover:bg-primary text-white transtion-all duration-300"
          >
            <a href="#" class="">
              <span>CURRENT JOBS</span>
              <i class="fa-solid fa-angle-down"></i>
            </a>
            <ul
              class="dropdown absolute left-0 top-12 bg-black text-white w-56 transtion-all duration-300"
            >
              <li class="border-b-[1px] px-5 py-3 text-sm hover:bg-primary">
                <a href="#">LINK 1</a>
              </li>
              <li class="border-b-[1px] px-5 py-3 text-sm hover:bg-primary">
                <a href="#">LINK 2</a>
              </li>
              <li class="border-b-[1px] px-5 py-3 text-sm hover:bg-primary">
                <a href="#">LINK 3</a>
              </li>
              <li class="border-b-[1px] px-5 py-3 text-sm hover:bg-primary">
                <a href="#">LINK 4</a>
              </li>
              <li class="border-b-[1px] px-5 py-3 text-sm hover:bg-primary">
                <a href="#">LINK 5</a>
              </li>
            </ul>
          </li>
          <li
            class="text-base border-b-[1px] font-sans font-semibold py-3 px-3 hover:py-3 hover:bg-primary text-white transtion-all duration-300"
          >
            <a href="#">HOME</a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="mx-5">
      <div class="container m-auto flex justify-center">
        <div class="w-full max-w-4xl bg-white p-6 rounded shadow-md px-10 my-8">
          <h1
            class="md:text-3xl text-xl mt-3 mb-5 text-center font-serif font-bold"
          >
            Grievance Redressal Form
          </h1>
          <p class="my-4 text-red-500 font-semibold">
            Have any issues in working with our Agency or our Clients? Please
            use the form below to write to us explaining the details of the
            grievance and we will promptly forward this to the relevant
            authorities
          </p>
          <form
            method="POST"
            enctype="multipart/form-data"
            action="{% url 'grievance_submit' %}"
            class="flex flex-col gap-5"
          >
            {% csrf_token %} {{ form.as_p }}
            <div class="flex flex-col">
              <label for="id_name" class="font-serif font-bold">Name:</label>
              <input
                type="text"
                name="name"
                maxlength="250"
                required
                id="id_name"
              />
            </div>

            <div class="flex flex-col">
              <label for="id_phone" class="font-serif font-bold">Phone:</label>
              <input
                type="text"
                name="phone"
                maxlength="250"
                required
                id="id_phone"
              />
            </div>
            <div class="flex flex-col">
              <label for="id_email" class="font-serif font-bold">Email:</label>
              <input
                type="email"
                name="email"
                maxlength="250"
                required
                id="id_email"
              />
            </div>
            <div class="flex flex-col">
              <label for="id_title" class="font-serif font-bold">Title:</label>
              <input
                type="text"
                name="title"
                maxlength="100"
                required
                id="id_title"
              />
            </div>
            <div class="flex flex-col">
              <label for="id_location" class="font-serif font-bold"
                >Location:</label
              >
              <input
                type="text"
                name="location"
                maxlength="250"
                required
                id="id_location"
              />
            </div>
            <div class="flex flex-col">
              <label for="id_position" class="font-serif font-bold"
                >Position:</label
              >
              <input
                type="text"
                name="position"
                maxlength="250"
                required
                id="id_position"
              />
            </div>

            <p class="flex flex-col">
              <label class="font-serif font-bold" for="remarks">Remarks:</label>
              <textarea
                name="remarks"
                cols="40"
                rows="2"
                maxlength="250"
                required=""
                id="remarks"
                placeholder="Enter you remarks"
              ></textarea>
            </p>
            <div class="flex justify-center">
              <button
                class="bg-[#d9534f] hover:bg-primary rounded font-sans text-sm px-3 py-2 text-white w-40"
                type="submit"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section class="mx-5">
      <div class="container m-auto my-10">
        <h3 class="text-xl my-3 font-serif font-bold">Our Office</h3>

        <div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d294.3840949801742!2d90.37921826417632!3d23.809922603040054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c72a05e72f27%3A0x253c8e0afb0d412!2sUmmul%20Qura%20Alia%20Madrasha!5e1!3m2!1sen!2sbd!4v1726599805259!5m2!1sen!2sbd"
            height="450"
            style="border: 0; width: 100%"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>

    <footer class="bg-black text-white">
      <div>
        <div class="h-16 bg-primary"></div>
        <img class="w-full" src="./assets/line-bg.png" alt="" />
      </div>

      <div
        class="container my-4 m-auto py-6 flex justify-between flex-wrap gap-7"
      >
        <div>
          <div>
            <a href="#"
              ><img
                src="{% static 'assets/logo.png' %}"
                class="h-16"
                alt="Mumin International"
            /></a>
          </div>
          <div class="h-12 my-7 flex t items-center gap-4">
            <a
              href="mailto:mumininternational@gmail.com"
              class="w-8 h-8 rounded-full border border-primary flex items-center justify-center bg-white text-sm flex items-center gap-2"
            >
              <i class="fa-brands fa-facebook text-primary"></i>
            </a>
            <a
              href="mailto:mumininternational@gmail.com"
              class="w-8 h-8 rounded-full border border-primary flex items-center justify-center bg-white text-sm flex items-center gap-2"
            >
              <i class="fa-solid fa-x text-primary"></i>
            </a>
            <a
              href="mailto:mumininternational@gmail.com"
              class="w-8 h-8 rounded-full border border-primary flex items-center justify-center bg-white text-sm flex items-center gap-2"
            >
              <i class="fa-brands fa-linkedin text-primary"></i>
            </a>
            <a
              href="mailto:mumininternational@gmail.com"
              class="w-8 h-8 rounded-full border border-primary flex items-center justify-center bg-white text-sm flex items-center gap-2"
            >
              <i class="fa-brands fa-youtube text-primary"></i>
            </a>
            <a
              href="#"
              class="w-8 h-8 rounded-full border border-primary flex items-center justify-center bg-white text-sm flex items-center gap-2"
            >
              <i class="fa-brands fa-whatsapp text-primary"></i>
            </a>
          </div>
          <div class="w-40 flex flex-col gap-4 items-center justify-center">
            <img class="w-40" src="./assets/qrcode.png" alt="" />
            <p>Scan QR Code</p>
          </div>
        </div>
        <div>
          <h2 class="text-xl uppercase font-serif font-bold">Current Jobs</h2>
          <ul class="flex flex-wrap flex-col gap-7 h-56 mt-5">
            <li class=" ">Jobs in Romania</li>
            <li class="">Jobs in Saudi Arabia</li>
            <li class=" ">Jobs in Romania</li>
            <li class="">Jobs in Saudi Arabia</li>
            <li class=" ">Jobs in Romania</li>
            <li class="">Jobs in Saudi Arabia</li>
            <li class=" ">Jobs in Romania</li>
            <li class="">Jobs in Saudi Arabia</li>
          </ul>
        </div>
        <div>
          <h2 class="text-xl uppercase font-serif font-bold">
            Client Contact Form
          </h2>
          <p class="w-72 flex flex-wrap mt-5 items-center gap-2">
            <i class="fa-solid fa-house"></i>
            <span>
              Mumin International 507, Shah and Nahar Industrial Estate, Dr E
              Moses Road, Worli Naka, Mumbai - 400018, Bangladesh</span
            >
          </p>
        </div>
        <div>
          <h2 class="text-xl uppercase font-serif font-bold">
            OFFICE LOCATION
          </h2>
          <ul class="flex flex-wrap flex-col gap-6 mt-5">
            <a
              href="mailto:mumininternational@gmail.com"
              class="text-white text-sm flex items-center gap-2 flex-nowrap"
            >
              <i class="fa-solid fa-envelope"></i>
              <span>mumininternational@gmail.com</span>
            </a>
            <a
              href="tel:+393297456819"
              class="text-white text-sm flex items-center gap-2 flex-nowrap"
            >
              <i class="fa-solid fa-phone"></i>
              <span>+39 329 745 6819</span>
            </a>
            <a
              href="#"
              class="text-white text-sm flex items-center gap-2 flex-nowrap"
            >
              <i class="fa-brands fa-whatsapp text-base"></i>
              <span>+39 329 745 6819</span>
            </a>
          </ul>
        </div>
      </div>

      <div class="h-14 bg-primary flex items-center justify-center">
        <p class="text-center">
          © Copyright Clare.AI. All rights Reserved. Site designed & Maintained
          by Mumin International
        </p>
      </div>
    </footer>
    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
