.dropdown {
  display: none;
}

.dropdown-wrap:hover > ul.dropdown {
  display: block !important;
}

/* swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.slider {
  width: 100%;
  height: 800px;
} */
.swiper-container {
    width: 100%; /* Make sure it uses the full width of its parent */
    height: 800px; /* Set a fixed height that works for your content */
    overflow-x: hidden ; /* Hide any content that overflows */
}

.swiper-slide {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; /* Ensure background image covers the entire slide */
    background-position: center; /* Center the background image */
}


.slider{
   height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; /* Ensure background image covers the entire slide */
    background-position: center; /* Center the background image */
}