{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ settings.title }}
{% endblock %}
{% block content %}

<section
    class="md:h-[400px] h-[180px] flex items-center flex-col justify-center w-full bg-cover	bg-no-repeat bg-[url({% static 'images/innerpage-banners/corporate.jpg'%})]">
    <h1 style="text-shadow: 2px 2px #000"
        class="md:text-5xl mx-5 text-xl text-center [text-shadow:_0_1px_0_rgb(0_0_0_/_40%)] text-white font-serif font-bold">
        Corporate Structure


    </h1>

</section>

<section class="my-8 px-4">
    <div class="container m-auto">
        <div class="flex gap-8 flex-col md:flex-row">
            <div class="w-full md:w-3/4">

                <h2 class="  md:text-4xl  text-3xl text-primary font-serif font-bold my-8">
                    Corporate Structure
                </h2>
                <p>
                    Mumin International is a professional recruitment firm established in 2020 and received the first
                    Overseas Recruitment
                    License issued in 2021 (by the Ministry of External Affairs in Bangladesh).
                </p>
                <br>

                <p>
                    Mumin is part of the SMumin Group of Companies – which has diversified interests in Manufacturing and
                    HR Services.
                </p>
                <br>
                <p>
                    In HR Services – Mumin International is the flagship company and has sister concerns that are
                    engaged in Recruitment,
                    Secondment, Training and Payroll Processing. With a Professional Management setup and supported by
                    Cloud based
                    Automation Platforms the Company has a number of Permanent Employees on its payrolls in its
                    Headquarters in Dhaka and
                    Representative staff in other cities in Bangladesh and Overseas.
                </p>
                <br>
                <p>
                    The Organization structure for Mumin is as given below . The Recruiter position searches / head-hunts
                    / processes Staff
                    and Technical Positions and the Recruitment Coordinators takes care of all recruitment / processing
                    of Worker level
                    positions.

                </p>
            </div>
            <div class="w-full md:w-1/4">
                <div class="w-full border-[1px] bg-[#f9f9f9]">
                    <ul class="py-3 flex flex-col gap-2">
                        <li>
                            <a class="hover:ml-2 px-3 pb-3 border-b w-full transition-all duration-300 inline-block text-xl text-[#464646] hover:text-primary font-semibold "
                                href="/about">Company Profile
                            </a>
                        </li>
                        <li>
                            <a class="hover:ml-2 px-3 pb-3 border-b w-full transition-all duration-300 inline-block text-xl text-[#464646] hover:text-primary font-semibold "
                                href="/our-strength">Our Strengths & Presence
                            </a>
                        </li>
                        <li>
                            <a class="hover:ml-2 px-3 pb-3 border-b w-full transition-all duration-300 inline-block text-xl  text-primary  font-semibold "
                                href="/corporate-structure/">Corporate Structure
                            </a>
                        </li>
                        <li>
                            <a class="hover:ml-2 px-3  w-full transition-all duration-300 inline-block text-xl text-[#464646] hover:text-primary  font-semibold "
                                href="/management-team">Management Team
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-8 px-4">
    <div class="container m-auto">
        <!-- <h2 class="md:text-4xl  text-2xl font-serif text-center  font-bold my-8">
            Our General Staffing Offerings Include

        </h2> -->
        <!-- <img class="w-full" src="{% static 'images/pic-from-brochure/ORGANOGRAM.png' %}" alt=""> -->
    </div>
</section>

{% endblock %}