<div class="min-h-12 py-4 md:py-0 bg-black hidden md:block">
  <div class="container px-4 m-auto flex justify-between flex-wrap gap-4">
    <div class="md:h-12 flex items-center gap-5 flex-wrap">
      <a href="mailto:{{contact.email}}" class="text-white text-sm flex items-center gap-2 flex-nowrap">
        <i class="fa-solid fa-envelope"></i>
        <span>{{contact.email}}</span>
      </a>
      <a href="tel:{{contact.phone}}" class="text-white text-sm flex items-center gap-2 flex-nowrap">
        <i class="fa-solid fa-phone"></i>
        <span>{{contact.phone}}</span>
      </a>
      <a href="tel:{{contact.whatsApp}}" class="text-white text-sm flex items-center gap-2 flex-nowrap">
        <i class="fa-brands fa-whatsapp"></i>
        <span>{{contact.whatsApp}}</span>
      </a>
    </div>
    <div class="lg:h-12 flex t items-center gap-4">
      <a href="{{contact.fb}}" class="text-white text-sm flex items-center gap-2">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="{{contact.x}}" class="text-white text-sm flex items-center gap-2">
        <i class="fa-solid fa-x"></i>
      </a>
      <a href="{{contact.linkedin}}" class="text-white text-sm flex items-center gap-2">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="{{contact.youtube}}" class="text-white text-sm flex items-center gap-2">
        <i class="fa-brands fa-youtube"></i>
      </a>
      <a href="{{contact.whatsAppLink}}" class="text-white text-sm flex items-center gap-2">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>
  </div>
</div>
<nav class="bg-white  md:h-20 h-16 z-20	 relative transition-all">
  <div class="container m-auto flex justify-between ">
    <div class="md:h-20 h-16  bg-white  z-20 flex items-center ">
      <a href="/"><img src="{{settings.logo.url}}" class="h-12 ml-2  bg-white z-20" alt="Mumin International" /></a>
    </div>
    <div>
      <ul class="h-20 gap-1 justify-between items-center hidden md:flex">
        <li
          class="text-base font-sans font-semibold py-6 px-3 hover:py-3 hover:bg-primary hover:text-white transtion-all duration-300">
          <a href="#">HOME</a>
        </li>
        <li
          class="dropdown-wrap flex-nowrap z-10 relative text-base font-sans font-semibold py-6 px-3 hover:py-3 hover:bg-primary hover:text-white transtion-all duration-300">
          <a href="#" class="text-nowrap">
            <span>CURRENT JOBS</span>
            <i class="fa-solid fa-angle-down"></i>
          </a>
          <ul class="dropdown absolute left-0 top-12 bg-black text-white w-56 transtion-all duration-300">
            {% for country in countries %}
            <li class="border-b-[1px] px-5 py-3 text-sm hover:bg-primary">
              <a class="block" href="/{{country.id}}">{{country.name}}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li
          class="dropdown-wrap z-10 relative text-base font-sans font-semibold py-6 px-3 hover:py-3 hover:bg-primary hover:text-white transtion-all duration-300">
          <a href="#" class=" text-nowrap">
            <span>SERVICES</span>
            <i class="fa-solid fa-angle-down"></i>
          </a>
          <ul class="dropdown absolute left-0 top-12 bg-black text-white w-56 transtion-all duration-300">
            {% for service in services %}
            <li class="border-b-[1px] px-5 py-3 text-sm hover:bg-primary">
              <a class="block" href="/service/{{service.id}}">{{service.title}}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li
          class="dropdown-wrap z-10 relative text-base font-sans font-semibold py-6 px-3 hover:py-3 hover:bg-primary hover:text-white transtion-all duration-300">
          <a href="#" class="text-nowrap">
            <span>CONTACT US</span>
            <i class="fa-solid fa-angle-down"></i>
          </a>
          <ul class="dropdown absolute left-0 top-12 bg-black text-white w-56 transtion-all duration-300">
            <li class="border-b-[1px] px-5 py-3 text-sm hover:bg-primary">
              <a class="block" href="/clients">Employers</a>
            </li>
            <li class="border-b-[1px] px-5 py-3 text-sm hover:bg-primary">
              <a class="block" href="/jobseeker">Jobseeker</a>
            </li>
            <li class="border-b-[1px] px-5 py-3 text-sm hover:bg-primary">
              <a class="block" href="/grievance-redressal">Grievance Redressal</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="px-3 text-nowrap py-2 bg-[#d9534f] hover:bg-primary font-sans text-white rounded text-sm"
            href="/quick-register">Quick Register</a>
        </li>
        <!-- <li>
          <a class="px-3 text-nowrap py-2 bg-[#d9534f] hover:bg-primary font-sans text-white rounded text-sm" href="/study">Study
            Abroad</a>
        </li> -->
      </ul>
      <div class="flex h-16 text-2xl items-center md:hidden bg-white z-20 ">
        <i id="menu-btn" class="fa-solid fa-bars px-5 py-2 bg-white z-20 pointer "></i>
      </div>
    </div>
  </div>
  <div id="topnav" class="z-10 duration-300	 transition-all  -top-[1000px] absolute w-full" data-isopen="false">
    <ul class="justify-between flex flex-col bg-[#f8f8f8]">
      
      <li class="dropdown-wrap2 border-b-[1px]  text-sm font-sans font-semibold py-4 px-5  hover:text-primary ">
        <a href="/about" class="w-full flex justify-between">
          <span>ABOUT US</span>
        </a>
      </li>
      <li
        class="dropdown-wrap2 border-b-[1px]  text-sm font-sans font-semibold py-4 px-5  hover:text-primary ">
        <a href="#" class="w-full flex justify-between">
          <span>CURRENT JOBS</span>
          <i data-isopen="false" id="countries-dropdown-btn" class="fa-solid fa-plus p-1" onclick="dropdownBtn('countries-dropdown-btn','countries-dropdown')"></i>
        </a>
      
        <ul id="countries-dropdown" class="dropdown hidden z-10 ml-3  mt-1 text-[#444] w-full">
          {% for country in countries %}
          <li class="border-b-[1px] px-5 py-3 text-sm hover:text-primary">
            <a class="block" href="/{{country.id}}">{{country.name}}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      <!-- <li class="dropdown-wrap2 border-b-[1px]  text-sm font-sans font-semibold py-4 px-5  hover:text-primary ">
        <a href="/our-clients" class="w-full flex justify-between">
          <span>OUR CLIENT</span>
        </a>
      </li> -->
     
      <li
        class="dropdown-wrap2 border-b-[1px] text-sm font-sans font-semibold py-4 px-5 hover:text-primary">
        <a href="#" class="w-full flex justify-between">
          <span>SERVICES</span>

          <i data-isopen="false" id="services-dropdown-btn" class="fa-solid fa-plus p-1"
            onclick="dropdownBtn('services-dropdown-btn','services-dropdown')"></i>

        </a>
        <ul id="services-dropdown" class="dropdown hidden z-10 ml-3  mt-1 text-[#444] w-full">
          {% for service in services %}
          <li class="border-b-[1px] px-5 py-3 text-sm hover:bg-primary">
            <a class="block" href="/service/{{service.id}}">{{service.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      <li
       class="dropdown-wrap2 border-b-[1px] text-sm font-sans font-semibold py-4 px-5 hover:text-primary">
        <a href="#" class="w-full flex justify-between">
          <span>CONTACT US</span>
          <i data-isopen="false" id="contact-dropdown-btn" class="fa-solid fa-plus p-1"
            onclick="dropdownBtn('contact-dropdown-btn','contact-dropdown')"></i>
        </a>
        <ul id="contact-dropdown"  class="dropdown hidden z-10 ml-3  mt-1 text-[#444] w-full">
          <li class="border-b-[1px] px-5 py-3 text-sm hover:bg-primary">
            <a class="block" href="/employee">Employers</a>
          </li>
          <li class="border-b-[1px] px-5 py-3 text-sm hover:bg-primary">
            <a class="block" href="/jobseeker">Jobseeker</a>
          </li>
          <li class="border-b-[1px] px-5 py-3 text-sm hover:bg-primary">
            <a class="block" href="/grievance-redressal">Grievance Redressal</a>
          </li>
        </ul>
      </li>
      <li class="dropdown-wrap2 border-b-[1px]  text-sm font-sans font-semibold py-4 px-5  hover:text-primary ">
        <a href="/quick-register" class="w-full flex justify-between">
          <span>QUICK REGISTER</span>
        </a>
      </li>
    </ul>
  </div>
</nav>