{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ settings.title }}
{% endblock %}
{% block content %}


<section
    class="md:h-[400px] h-[180px] flex items-center justify-center w-full bg-cover	bg-no-repeat bg-[url({% static 'images/innerpage-banners/student-recruitment.jpg'%})]">
    <h1 style="text-shadow: 2px 2px #000"
        class="md:text-5xl text-3xl [text-shadow:_0_1px_0_rgb(0_0_0_/_40%)] text-white font-serif font-bold">
        Our Clients
    </h1>
</section>

<section class="mx-5">
    <div class="container m-auto my-10">

        <p class="text-center">“Our Clients Mumin International has several clients in over 18 countries. These include
            some of the largest Engineering,
            Procurement and Construction (EPC) Companies in the World like Petrofac, KBR, JGC, CCC etc. Mumin
            International focusses
            on working with the best employers in each country and this is reflected in long and repeatable
            relationships with each
            of our clients – for example in Oman this includes the largest and top most employers such as GALFAR, BEC,
            STS,
            Al-Hassan etc. In KSA this includes Al Suwaidi, CCC, Mohammed Al Mojil, SRACO etc”

        </p>
        <h3 class="text-3xl my-10 text-center font-serif font-bold">Recruitment Network</h3>
        <img src="{% static 'images/client_map1.png' %}" alt="">




</section>

<section class="md:mx-5">
    <div class=" container m-auto my-10 flex gap-10 mt-10 flex-wrap md:flex-nowrap  leading-loose">
        <div class="text-center bg-primary text-white px-5 py-5  w-full">
            <i class="fa fa-star fa-3x" aria-hidden="true"></i>
            <br>
            <br>

            <div class="flex flex-col gap-10">
                <p>
                    Over our last decade OOSC group of companies have utilized Mumin expertise in the lead hutting as
                    well as bulk
                    recruitment process. Their prompt response to our manpower, credentials and understanding of oil
                    and gas bancos
                    environment and local culture helps was immensely fulfilling our organizational goals. All in
                    all Mumin has been a
                    reliable partner in providing adequate human resources to develop our business .
                </p>

                <div>
                    <p>
                        MR. ARUN DESAI
                    </p>
                    <p>
                        GM Oman Industrial Coating Centre (OOSC)
                    </p>
                </div>
            </div>

        </div>
        <div class="text-center bg-[#e1e1e1]  px-5 py-5 w-full">
            <i class="fa fa-star fa-3x" aria-hidden="true"></i>
            <br>
            <br>

            <div class="flex flex-col gap-10">
                <p>
                    Working with Mumin has indeed been a pleasure. Mumin International has given us the best results in
                    catering to our
                    manpower requirements whenever we have needed them. They have always stood by us during our good and
                    bad times. Thank
                    You Mumin!
                </p>

                <div>
                    <p>
                        MR. CHURCHI E HADDAD

                    </p>
                    <p>
                        IMCO
                    </p>
                </div>
            </div>

        </div>
        <div class="text-center bg-primary text-white px-5 py-5 w-full">
            <i class="fa fa-star fa-3x" aria-hidden="true"></i>
            <br>
            <br>

            <div class="flex flex-col gap-10">
                <p>
                    I believe with our long relationship (almost 20 years now), and the confidence 'ive had in Mumin, I
                    wouldn't keep coming
                    back to you if I thougth Mumin coudnt handle our needs ofcourse this covers Kellogs, KBR, Stone &
                    Webster and how CB&I.
                    Mumin Intemational has given us the best results in cateringto our international manpower
                    requirements whenever we have
                    needed them. Mumin has been consistent partner during the good and slow periods over the past 20
                    years.
                </p>

                <div>
                    <p>
                        MR. RICK FEGER
                    </p>
                    <p>
                        Manager of Field Staffing - CB&I, Dubai
                    </p>
                    <p>
                        HR Manager at KBR

                    </p>
                    <p>
                        HR Manager at Stone & Webster

                    </p>
                    <p>
                        HR Manager at MW Kellogg

                    </p>
                </div>
            </div>

        </div>
        <div class="text-center bg-[#e1e1e1]  px-5 py-5 w-full">
            <i class="fa fa-star fa-3x" aria-hidden="true"></i>
            <br>
            <br>

            <div class="flex flex-col gap-10">
                <p>
                    Mumin International has been working with Mumin former twenty years. During this period we have
                    witnessed the highest
                    level of professionalism, understanding of our needs and competency. Such a long period of
                    relationship is a testimony
                    that reflects our trust and respect in dealing with such reliable consultants.
                </p>

                <div>
                    <p>
                        MR. MAHMOOD DAYLAMI
                    </p>
                    <p>
                        Dy.CEO, Aluminium Bahrain (ALBA)
                    </p>
                </div>
            </div>

        </div>
    </div>

</section>
<br><br>
<section class="mx-5 my-10 ">
    <div class=" container m-auto my-10  leading-loose flex flex-col gap-10">
            <div>
                <h6 class="font-serif font-bold text-lg">
                    International Manpower Recruitment Agency Solutions
                </h6>
                <p class="text-sm mt-3">
                    International Manpower Recruitment Agency Solutions
                    Mumin International is a International Manpower Recruitment Agency that provides innovative & international manpower
                    recruitment solutions from Bangladesh. We are providing international manpower services and Career Development Services
                    across Bangladesh, Dhaka-Bangladesh, Sri Lanka, Philippines, Vietnam, Pakistan. We are Emerging, Vibrant and Professionally
                    managed manpower recruitment agency, which aims to provide our Clients with value added international manpower services
                    based on Honesty, Integrity, Desired results and a Passion of Excellence. At Mumin International, there is a simple
                    philosophy at work; clients are not our audience, but our success partners, and in their growth, lies our growth. So
                    wherever they are, we are always in search of opportunities that will make them succeed in their respective professions.
                </p>
            </div>

            <div>
                <h6 class="font-serif font-bold text-lg">
                Manpower Recruitment Agency in Bangladesh – What you should expect from us?

                </h6>
                <p class="text-sm mt-3">
                We, at Mumin International, believe in leaving no stone unturned in our attempt to help our growing international
                clientele.To stay competitive in today's global market, an effort must be made to address work/life issues. Our teams
                bring each client a combination of deep industry knowledge and expert perspectives from other industries on the
                challenge at stake. Being a leading manpower recruitment agency we are providing all sort of recruitment, staffing, HR
                outsourcing and recruiters for hire to worldwide clients. Our highly qualified recruitment managers have years of
                international manpower recruitment experience; objectively and subjectively testing the candidates for their skills and
                knowledge.
                </p>
            </div>

            <div>
                <h6 class="font-serif font-bold text-lg">
            International Manpower Solutions – Types of consulting services & solutions we provide

                </h6>
                <p class="text-sm mt-3">
                    We provide all sorts of International Manpower services to our clients. Our manpower consultancy solution are specially
                    designed as per the client´s requirements.. Our renowned HR experts and various tools enabled us to provide the best
                    possible HR services in Bangladesh. We are providers of recruitment process outsourcing in the employment services industry,
                    enabling our clients to outsource the entire recruitment process for permanent and contingent staff to us, so they can
                    focus on other areas of human resources.
                </p>
            </div>

            <div>
                <h6 class="font-serif font-bold text-lg">
            We provide Manpower Recruitment Services from the following countries:

                </h6>
                <p class="text-sm mt-3">
                A Host of Clients have benefited from this. Have You? Mumin International is Asia's leading Government recognized
                International Manpower consulting agency. We have our own well-equipped Hi - Tech Premises in Dhaka, Delhi, Chennai,
                Kochi, Vadodara, Kathmandu-Nepal, Dhaka-Bangladesh and with partner offices in all the major cities of Asia.

                </p>
            </div>
            <div>
                <h6 class="font-serif font-bold text-lg">
                    Our International Recruitment Network:

                </h6>
                <p class="text-sm mt-3">
                    Dhaka, Delhi, Chennai, Kochi, Vadodara, Kathmandu-Nepal, Dhaka-Bangladesh, Sri Lanka, Philippines, Vietnam, Pakistan.

                </p>
            </div>
    </div>

</section>



{% endblock %}