{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ settings.title }}
{% endblock %}
{% block content %}




<section class="mx-5">
  <div class="container m-auto py-10 gap-10 flex flex-col md:flex-row justify-center">
    <div class="w-full max-w-4xl bg-white py-6 rounded shadow-md px-5  md:px-10 my-8 border rounded-2xl">
      <h1 class="text-2xl mt-3 mb-5 text-center font-serif font-bold text-primary">
        CANDIDATE REGISTRATION FORM
      </h1>
      <p class="my-5 text-center text-lg font-bold text-red-500">To Register with Mumin International for thousands of
        overseas jobs, please fill the below form.</p>
      <form method="POST" enctype="multipart/form-data" action="{% url 'jobseeker_submit' %}"
        class="flex flex-col gap-5">
        {% csrf_token %}


        <div class=" my-5">
          <p class="text-sm font-bold mb-2">Terms & Conditions *</p>
          <div class="border p-3 flex flex-col text-lg gap-2 text-[#444444]">
            <p>Please click on the below link to save our Official WhatsApp Number to your contact list.</p>
            <p class="text-blue-600"><a href="#">https://wa.me/918291999288</a></p>
            <p>Once you add our WhatsApp Number to your contact list then please fill out the below form, so that we can
              add
              your Name
              and Mobile number to our WhatsApp Broadcast list.</p>
          </div>

          <div class="flex  gap-2 mt-2">
            <input type="checkbox" class="mt-2 md:mt-0" name="agreed" id="agreed">
            <label for="agreed">I confirm I have read and understood Terms and Conditions</label>
          </div>
        </div>

        <p>
          <label for="id_whatsApp" class="font-serif font-bold">WhatsApp Mobile Number <span
              class="text-lg font-bold text-red-600">*</span></label>
          <input type="text" name="whatsApp"
            class="block w-full text-sm text-gray-500 file:mr-4 file:py-1 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
            maxlength="250" required="" id="id_whatsApp">
        </p>

        <p>
          <label for="id_name" class="font-serif font-bold">Full Name <span
              class="text-lg font-bold text-red-600">*</span></label>
          <input type="text" name="name"
            class="block w-full text-sm text-gray-500 file:mr-4 file:py-1 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
            maxlength="250" required="" id="id_name">
        </p>

        <p>
          <label for="id_category" class="font-serif font-bold">Category <span
              class="text-lg font-bold text-red-600">*</span></label>
          <select name="category"
            class="block w-full text-sm text-gray-500 file:mr-4 file:py-1 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
            id="id_category">
            <option value="OTHER" selected> - Select - </option>

            <option value="CIVIL">Civil</option>

            <option value="MECHANICAL">Mechanical</option>

            <option value="ELECTRIAL">Electrial</option>

            <option value="IT">It</option>

            <option value="INSTRUMENTATION">Instrumentation</option>

            <option value="ADMIN">Admin/HR</option>

            <option value="SAFETY">Safety</option>

            <option value="STAFF">Project/Planning/Staff</option>

            <option value="DESIGN">Design</option>

            <option value="HEALTHCARE">Healthcare</option>

            <option value="HOSPITALITY">Hospitality</option>

            <option value="SECURITY">Security</option>

            <option value="LOGISTICS">Logistics</option>

            <option value="OPERATORS">Operators/Drivers</option>

            <option value="OTHER">Other</option>

          </select>


        </p>

        <p>
          <label for="id_position" class="font-serif font-bold">Position <span
              class="text-lg font-bold text-red-600">*</span></label>

          <select name="position"
            class="block w-full text-sm text-gray-500 file:mr-4 file:py-1 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
            required="" id="id_position">
            <option value="" selected> - Select - </option>

            <option value="ACCOUNTANT">ACCOUNTANT</option>

            <option value="ADMIN">ADMIN</option>

            <option value="ALUMINIUM FABRICATOR">ALUMINIUM FABRICATOR</option>

            <option value="ALUMINIUM FITTER">ALUMINIUM FITTER</option>

            <option value="ANALYSER ENGINEER">ANALYSER ENGINEER</option>

            <option value="AREA COORDINATOR">AREA COORDINATOR</option>

            <option value="AREA IN-CHARGE">AREA IN-CHARGE</option>

            <option value="AREA PLANNER">AREA PLANNER</option>

            <option value="ASSISTANT ELECTRICIAN">ASSISTANT ELECTRICIAN</option>

            <option value="ASSISTANT FITTER">ASSISTANT FITTER</option>

            <option value="ASSISTANT PIPE FITTER">ASSISTANT PIPE FITTER</option>

            <option value="AUTO CAD">AUTO CAD</option>

            <option value="BAKER">BAKER</option>

            <option value="BARTENDER">BARTENDER</option>

            <option value="BARTENDERS">BARTENDERS</option>

            <option value="BOILER OPERATOR">BOILER OPERATOR</option>

            <option value="BOILER TECHNICIAN">BOILER TECHNICIAN</option>

            <option value="BOLT TORQUING TECHNICIAN">BOLT TORQUING TECHNICIAN</option>

            <option value="BOLTING TECHNICIAN">BOLTING TECHNICIAN</option>

            <option value="BRUSH PAINTER">BRUSH PAINTER</option>

            <option value="CABLE JOINTER">CABLE JOINTER</option>

            <option value="CAMP BOSS">CAMP BOSS</option>

            <option value="CARPENTER">CARPENTER</option>

            <option value="CASINO HOST">CASINO HOST</option>

            <option value="CATERING ASSISTANT">CATERING ASSISTANT</option>

            <option value="CATERING SUPERVISOR">CATERING SUPERVISOR</option>

            <option value="CHEF">CHEF</option>

            <option value="CHEFS ALL CUISINES,">CHEFS ALL CUISINES,</option>

            <option value="CIVIL CARPENTER">CIVIL CARPENTER</option>

            <option value="CIVIL CHARGE-HAND">CIVIL CHARGE-HAND</option>

            <option value="CIVIL DRAUGHTSMAN">CIVIL DRAUGHTSMAN</option>

            <option value="CIVIL ESTIMATORS">CIVIL ESTIMATORS</option>

            <option value="CIVIL FOREMAN">CIVIL FOREMAN</option>

            <option value="CIVIL HELPER">CIVIL HELPER</option>

            <option value="CIVIL INSPECTOR">CIVIL INSPECTOR</option>

            <option value="CIVIL SITE ENGINEER">CIVIL SITE ENGINEER</option>

            <option value="CIVIL SITE SUPERVISOR">CIVIL SITE SUPERVISOR</option>

            <option value="CIVIL SUPERVISOR">CIVIL SUPERVISOR</option>

            <option value="CLEANER">CLEANER</option>

            <option value="CNC MACHINE OPERATORS">CNC MACHINE OPERATORS</option>

            <option value="CNC MACHINIST">CNC MACHINIST</option>

            <option value="CNC OPERATOR">CNC OPERATOR</option>

            <option value="COMMISSIONING ENGINEER">COMMISSIONING ENGINEER</option>

            <option value="CONSTRUCTION ENGINEER">CONSTRUCTION ENGINEER</option>

            <option value="CONSTRUCTION FOREMAN">CONSTRUCTION FOREMAN</option>

            <option value="CONSTRUCTION MANAGER">CONSTRUCTION MANAGER</option>

            <option value="COOK">COOK</option>

            <option value="CRANE OPERATOR">CRANE OPERATOR</option>

            <option value="DCS OPERATOR">DCS OPERATOR</option>

            <option value="DIESEL MECHANICAL">DIESEL MECHANICAL</option>

            <option value="DISH WASHER">DISH WASHER</option>

            <option value="DOCUMENT CONTROLLER">DOCUMENT CONTROLLER</option>

            <option value="DRAUGHTSMAN PIPING">DRAUGHTSMAN PIPING</option>

            <option value="DRAUGHTSMAN">DRAUGHTSMAN</option>

            <option value="DRIVERS">DRIVERS</option>

            <option value="DUCT FABRICATOR">DUCT FABRICATOR</option>

            <option value="DUCT FITTER">DUCT FITTER</option>

            <option value="DUCT FOREMAN">DUCT FOREMAN</option>

            <option value="DUCT-MAN">DUCT-MAN</option>

            <option value="DUCTING CHARGE-HAND">DUCTING CHARGE-HAND</option>

            <option value="E&amp;amp;I ENGINEER">E&amp;amp;I ENGINEER</option>

            <option value="E&amp;amp;I FOREMAN">E&amp;amp;I FOREMAN</option>

            <option value="E&amp;amp;I HELPER">E&amp;amp;I HELPER</option>

            <option value="E&amp;amp;I INSPECTOR">E&amp;amp;I INSPECTOR</option>

            <option value="E&amp;amp;I SUPERVISOR">E&amp;amp;I SUPERVISOR</option>

            <option value="ELECTRICAL CHARGE-HAND">ELECTRICAL CHARGE-HAND</option>

            <option value="ELECTRICAL ENGINEER">ELECTRICAL ENGINEER</option>

            <option value="ELECTRICAL FOREMAN">ELECTRICAL FOREMAN</option>

            <option value="ELECTRICAL SUPERVISOR">ELECTRICAL SUPERVISOR</option>

            <option value="ELECTRICAL TECHNICIAN">ELECTRICAL TECHNICIAN</option>

            <option value="ELECTRICIAN">ELECTRICIAN</option>

            <option value="EMBROIDERY OPERATOR">EMBROIDERY OPERATOR</option>

            <option value="ESTIMATION ENGINEER">ESTIMATION ENGINEER</option>

            <option value="EVENTS MANAGER">EVENTS MANAGER</option>

            <option value="EXCAVATOR OPERATOR">EXCAVATOR OPERATOR</option>

            <option value="F&amp;amp;B EXECUTIVE">F&amp;amp;B EXECUTIVE</option>

            <option value="F&amp;amp;B MANAGER">F&amp;amp;B MANAGER</option>

            <option value="F&amp;amp;B SERVICE">F&amp;amp;B SERVICE</option>

            <option value="FEMALE NURSE">FEMALE NURSE</option>

            <option value="FIELD OPERATOR">FIELD OPERATOR</option>

            <option value="FINISHING FOREMAN">FINISHING FOREMAN</option>

            <option value="FINISHING MASON">FINISHING MASON</option>

            <option value="FINISHING SUPERVISOR">FINISHING SUPERVISOR</option>

            <option value="FIREWATCH">FIREWATCH</option>

            <option value="FONT OFFICE STAFF">FONT OFFICE STAFF</option>

            <option value="FOOD &amp;amp; BEVERAGE MANAGERS">FOOD &amp;amp; BEVERAGE MANAGERS</option>

            <option value="FORKLIFT OPERATOR">FORKLIFT OPERATOR</option>

            <option value="GAS CUTTER">GAS CUTTER</option>

            <option value="GENERAL FITTER">GENERAL FITTER</option>

            <option value="GENERAL HELPER">GENERAL HELPER</option>

            <option value="GRINDER">GRINDER</option>

            <option value="H V CABLE JOINTER">H V CABLE JOINTER</option>

            <option value="HAIR DRESSER">HAIR DRESSER</option>

            <option value="HEAVY DRIVER">HEAVY DRIVER</option>

            <option value="HEAVY DUTY DRIVER">HEAVY DUTY DRIVER</option>

            <option value="HELPER">HELPER</option>

            <option value="HOLEWATCH">HOLEWATCH</option>

            <option value="HOTEL MANAGERS">HOTEL MANAGERS</option>

            <option value="HOUSE BOY">HOUSE BOY</option>

            <option value="HOUSE ELECTRICIAN">HOUSE ELECTRICIAN</option>

            <option value="HOUSEKEEPING STAFF">HOUSEKEEPING STAFF</option>

            <option value="HSE MANAGER">HSE MANAGER</option>

            <option value="HSE OFFICER">HSE OFFICER</option>

            <option value="HSE SUPERVISOR">HSE SUPERVISOR</option>

            <option value="HVAC ENGINEER">HVAC ENGINEER</option>

            <option value="HVAC FOREMAN">HVAC FOREMAN</option>

            <option value="HVAC SUPERVISOR">HVAC SUPERVISOR</option>

            <option value="HYDRAULIC SUPERVISOR">HYDRAULIC SUPERVISOR</option>

            <option value="HYDRAULIC TECHNICIAN">HYDRAULIC TECHNICIAN</option>

            <option value="HYDROJETTER">HYDROJETTER</option>

            <option value="INDIAN COOK">INDIAN COOK</option>

            <option value="INDUSTRIAL ELECTRICIAN">INDUSTRIAL ELECTRICIAN</option>

            <option value="INSTRUMENT ENGINEER">INSTRUMENT ENGINEER</option>

            <option value="INSTRUMENT FOREMAN">INSTRUMENT FOREMAN</option>

            <option value="INSTRUMENT QC INSPECTOR">INSTRUMENT QC INSPECTOR</option>

            <option value="INSTRUMENT SUPERVISOR">INSTRUMENT SUPERVISOR</option>

            <option value="INSTRUMENT TECHNICIAN">INSTRUMENT TECHNICIAN</option>

            <option value="INSULATION FOREMAN">INSULATION FOREMAN</option>

            <option value="INSULATION INSPECTOR">INSULATION INSPECTOR</option>

            <option value="INSULATION MANAGER">INSULATION MANAGER</option>

            <option value="INSULATION SUPERVISOR">INSULATION SUPERVISOR</option>

            <option value="INSULATOR">INSULATOR</option>

            <option value="IT ENGINEER">IT ENGINEER</option>

            <option value="IT MANAGER">IT MANAGER</option>

            <option value="JCB OPERATOR">JCB OPERATOR</option>

            <option value="KITCHEN HELPER">KITCHEN HELPER</option>

            <option value="KITCHEN MANAGER">KITCHEN MANAGER</option>

            <option value="LAND SURVEYOR">LAND SURVEYOR</option>

            <option value="LATHE MACHINE OPERATOR">LATHE MACHINE OPERATOR</option>

            <option value="LEAD-MAN RIGGER">LEAD-MAN RIGGER</option>

            <option value="LIFTING ENGINEER">LIFTING ENGINEER</option>

            <option value="LIFTING SUPERVISOR">LIFTING SUPERVISOR</option>

            <option value="LIGHT DRIVER">LIGHT DRIVER</option>

            <option value="LIGHT DUTY DRIVER">LIGHT DUTY DRIVER</option>

            <option value="LINEMAN">LINEMAN</option>

            <option value="LOADER">LOADER</option>

            <option value="LOGISTICS SUPERVISOR">LOGISTICS SUPERVISOR</option>

            <option value="MACHINE OPERATOR">MACHINE OPERATOR</option>

            <option value="MACHINIST">MACHINIST</option>

            <option value="MAINTENANCE TECHNICIAN">MAINTENANCE TECHNICIAN</option>

            <option value="MALE NURSE">MALE NURSE</option>

            <option value="MARKETING MANAGER">MARKETING MANAGER</option>

            <option value="MASON CHARGE-HAND">MASON CHARGE-HAND</option>

            <option value="MATERIAL COORDINATOR">MATERIAL COORDINATOR</option>

            <option value="MATERIAL IN-CHARGE">MATERIAL IN-CHARGE</option>

            <option value="MECHANICAL - HEAT EXCHANGERS">MECHANICAL - HEAT EXCHANGERS</option>

            <option value="MECHANICAL CHARGE-HAND">MECHANICAL CHARGE-HAND</option>

            <option value="MECHANICAL DRAUGHTMAN">MECHANICAL DRAUGHTMAN</option>

            <option value="MECHANICAL ENGINEER">MECHANICAL ENGINEER</option>

            <option value="MECHANICAL FITTER">MECHANICAL FITTER</option>

            <option value="MECHANICAL FOREMAN">MECHANICAL FOREMAN</option>

            <option value="MECHANICAL HELPER">MECHANICAL HELPER</option>

            <option value="MECHANICAL MAINTENANCE FITTER">MECHANICAL MAINTENANCE FITTER</option>

            <option value="MECHANICAL OPERATOR">MECHANICAL OPERATOR</option>

            <option value="MECHANICAL SITE ENGINEER">MECHANICAL SITE ENGINEER</option>

            <option value="MECHANICAL SITE SUPERVISOR">MECHANICAL SITE SUPERVISOR</option>

            <option value="MECHANICAL SUPERVISOR - HEAT EXCHANGERS">MECHANICAL SUPERVISOR - HEAT EXCHANGERS</option>

            <option value="MECHANICAL SUPERVISOR">MECHANICAL SUPERVISOR</option>

            <option value="MECHANICAL TECHNICIAN">MECHANICAL TECHNICIAN</option>

            <option value="MEP MANAGER">MEP MANAGER</option>

            <option value="MEP SUPERVISOR">MEP SUPERVISOR</option>

            <option value="MIDDLE MANAGEMENT">MIDDLE MANAGEMENT</option>

            <option value="MILLWRIGHT FITTER">MILLWRIGHT FITTER</option>

            <option value="MILLWRIGHT TECHNICIAN">MILLWRIGHT TECHNICIAN</option>

            <option value="NDT IN-CHARGE">NDT IN-CHARGE</option>

            <option value="NDT TECHNICIAN">NDT TECHNICIAN</option>

            <option value="OPERATIONS MANAGER E&amp;amp;I">OPERATIONS MANAGER E&amp;amp;I</option>

            <option value="OPERATIONS MANAGER">OPERATIONS MANAGER</option>

            <option value="OPERATORS">OPERATORS</option>

            <option value="OVERHEAD CRANE OPERATOR">OVERHEAD CRANE OPERATOR</option>

            <option value="PAINTER">PAINTER</option>

            <option value="PAINTING FOREMAN">PAINTING FOREMAN</option>

            <option value="PAINTING SUPERVISOR">PAINTING SUPERVISOR</option>

            <option value="PERMIT HOLDER">PERMIT HOLDER</option>

            <option value="PIPE FABRICATOR">PIPE FABRICATOR</option>

            <option value="PIPE FITTER">PIPE FITTER</option>

            <option value="PIPING ENGINEER">PIPING ENGINEER</option>

            <option value="PIPING FABRICATOR">PIPING FABRICATOR</option>

            <option value="PIPING FOREMAN">PIPING FOREMAN</option>

            <option value="PIPING INSPECTOR">PIPING INSPECTOR</option>

            <option value="PIPING SUPERVISOR">PIPING SUPERVISOR</option>

            <option value="PLANNING ENGINEER CIVIL">PLANNING ENGINEER CIVIL</option>

            <option value="PLANNING ENGINEER MECHANICAL">PLANNING ENGINEER MECHANICAL</option>

            <option value="PLANNING ENGINEER MEP">PLANNING ENGINEER MEP</option>

            <option value="PLANNING ENGINEER">PLANNING ENGINEER</option>

            <option value="PLUMBER">PLUMBER</option>

            <option value="POWER OPERATOR / POWER OPERATION TECHNICIAN">POWER OPERATOR / POWER OPERATION TECHNICIAN
            </option>

            <option value="PROJECT MANAGER MEP/ HVAC,">PROJECT MANAGER MEP/ HVAC,</option>

            <option value="PROJECT MANAGER E&amp;amp;I">PROJECT MANAGER E&amp;amp;I</option>

            <option value="PROJECT MANAGER">PROJECT MANAGER</option>

            <option value="PTW ELECTRICAL FOREMAN">PTW ELECTRICAL FOREMAN</option>

            <option value="PTW INSTRUMENT FOREMAN">PTW INSTRUMENT FOREMAN</option>

            <option value="QA/QC ENGINEER">QA/QC ENGINEER</option>

            <option value="QA/QC MANAGER">QA/QC MANAGER</option>

            <option value="QC INSPECTOR">QC INSPECTOR</option>

            <option value="QC MANAGER">QC MANAGER</option>

            <option value="QC SUPERVISOR">QC SUPERVISOR</option>

            <option value="QC TECHNICIAN">QC TECHNICIAN</option>

            <option value="QSR STAFF">QSR STAFF</option>

            <option value="QUANTITY SURVEYOR">QUANTITY SURVEYOR</option>

            <option value="REFRACTORY MASON">REFRACTORY MASON</option>

            <option value="RESTAURANT MANAGER">RESTAURANT MANAGER</option>

            <option value="RESTAURANT MANAGERS">RESTAURANT MANAGERS</option>

            <option value="RESTAURANT STAFF">RESTAURANT STAFF</option>

            <option value="RESTAURANT SUPERVISOR">RESTAURANT SUPERVISOR</option>

            <option value="RIGGERS">RIGGERS</option>

            <option value="RIGGING CHARGE-HAND">RIGGING CHARGE-HAND</option>

            <option value="RIGGING ENGINEER">RIGGING ENGINEER</option>

            <option value="RIGGING FOREMAN">RIGGING FOREMAN</option>

            <option value="RIGGING SUPERVISOR">RIGGING SUPERVISOR</option>

            <option value="RIGGING SUPERVISORS">RIGGING SUPERVISORS</option>

            <option value="RO PLANT OPERATOR">RO PLANT OPERATOR</option>

            <option value="ROOM BOY">ROOM BOY</option>

            <option value="ROTATING EQUIPMENT SUPERVISOR">ROTATING EQUIPMENT SUPERVISOR</option>

            <option value="ROTATING EQUIPMENT TECHNICIAN">ROTATING EQUIPMENT TECHNICIAN</option>

            <option value="ROTATING MECHANICAL TECHNICIAN">ROTATING MECHANICAL TECHNICIAN</option>

            <option value="ROTATING SUPERVISOR">ROTATING SUPERVISOR</option>

            <option value="ROTATING TECHNICIAN">ROTATING TECHNICIAN</option>

            <option value="SAFETY ENGINEER">SAFETY ENGINEER</option>

            <option value="SAFETY INSPECTOR">SAFETY INSPECTOR</option>

            <option value="SAFETY OFFICER">SAFETY OFFICER</option>

            <option value="SAFETY SUPERVISOR">SAFETY SUPERVISOR</option>

            <option value="SALES EXECUTIVE">SALES EXECUTIVE</option>

            <option value="SAND BLASTER">SAND BLASTER</option>

            <option value="SANDWICH MAKER">SANDWICH MAKER</option>

            <option value="SCAFFOLDER">SCAFFOLDER</option>

            <option value="SCAFFOLDING CHARGE-HAND">SCAFFOLDING CHARGE-HAND</option>

            <option value="SCAFFOLDING ENGINEER">SCAFFOLDING ENGINEER</option>

            <option value="SCAFFOLDING FOREMAN">SCAFFOLDING FOREMAN</option>

            <option value="SCAFFOLDING INSPECTOR">SCAFFOLDING INSPECTOR</option>

            <option value="SCAFFOLDING SUPERVISOR">SCAFFOLDING SUPERVISOR</option>

            <option value="SHEET METAL FABRICATOR">SHEET METAL FABRICATOR</option>

            <option value="SHEET METAL FITTER">SHEET METAL FITTER</option>

            <option value="SHEET METAL FOREMAN">SHEET METAL FOREMAN</option>

            <option value="SHEET METAL INSULATOR">SHEET METAL INSULATOR</option>

            <option value="SHUTDOWN ENGINEER">SHUTDOWN ENGINEER</option>

            <option value="SHUTDOWN MANAGER">SHUTDOWN MANAGER</option>

            <option value="SHUTTERING CARPENTER CHARGE-HAND">SHUTTERING CARPENTER CHARGE-HAND</option>

            <option value="SHUTTERING CARPENTER">SHUTTERING CARPENTER</option>

            <option value="SITE CONSTRUCTION MANAGER">SITE CONSTRUCTION MANAGER</option>

            <option value="SITE COORDINATOR">SITE COORDINATOR</option>

            <option value="SITE ELECTRICAL ENGINEER">SITE ELECTRICAL ENGINEER</option>

            <option value="SITE ELECTRICAL SUPERVISOR">SITE ELECTRICAL SUPERVISOR</option>

            <option value="SITE MANAGER">SITE MANAGER</option>

            <option value="SITE SUPERVISOR">SITE SUPERVISOR</option>

            <option value="SOFTWARE DEVELOPER">SOFTWARE DEVELOPER</option>

            <option value="SOFTWARE ENGINEER">SOFTWARE ENGINEER</option>

            <option value="SOU CHEF">SOU CHEF</option>

            <option value="SPA MANAGER">SPA MANAGER</option>

            <option value="SPINNING OPERATOR">SPINNING OPERATOR</option>

            <option value="SPRAY PAINTER">SPRAY PAINTER</option>

            <option value="STATIC FOREMAN">STATIC FOREMAN</option>

            <option value="STATIC SUPERVISOR">STATIC SUPERVISOR</option>

            <option value="STEEL ERECTOR">STEEL ERECTOR</option>

            <option value="STEEL FABRICATOR">STEEL FABRICATOR</option>

            <option value="STEEL FITTER">STEEL FITTER</option>

            <option value="STEEL FIXER FOREMAN">STEEL FIXER FOREMAN</option>

            <option value="STEEL FIXER">STEEL FIXER</option>

            <option value="STEWARD">STEWARD</option>

            <option value="STORE MANAGER">STORE MANAGER</option>

            <option value="STRUCTURAL DRAUGHTMAN">STRUCTURAL DRAUGHTMAN</option>

            <option value="STRUCTURAL ENGINEER">STRUCTURAL ENGINEER</option>

            <option value="STRUCTURAL ERECTOR">STRUCTURAL ERECTOR</option>

            <option value="STRUCTURAL FABRICATOR">STRUCTURAL FABRICATOR</option>

            <option value="STRUCTURAL FITTER">STRUCTURAL FITTER</option>

            <option value="STRUCTURAL FOREMAN">STRUCTURAL FOREMAN</option>

            <option value="SUPERVISOR LEVEL">SUPERVISOR LEVEL</option>

            <option value="TAILOR">TAILOR</option>

            <option value="TANK CHARGE-HAND">TANK CHARGE-HAND</option>

            <option value="TANK FABRICATOR">TANK FABRICATOR</option>

            <option value="TANK FITTER">TANK FITTER</option>

            <option value="TANK FOREMAN">TANK FOREMAN</option>

            <option value="TAR MANAGER">TAR MANAGER</option>

            <option value="TAR SUPERVISOR">TAR SUPERVISOR</option>

            <option value="TILE MASON">TILE MASON</option>

            <option value="TIME KEEPER">TIME KEEPER</option>

            <option value="TOP MANAGEMENT">TOP MANAGEMENT</option>

            <option value="TORQURING TECHNICIAN">TORQURING TECHNICIAN</option>

            <option value="TOWER CRANE OPERATOR">TOWER CRANE OPERATOR</option>

            <option value="TRAILOR DRIVER">TRAILOR DRIVER</option>

            <option value="TRAILOR HEAVY DRIVER">TRAILOR HEAVY DRIVER</option>

            <option value="TUBE FITTER">TUBE FITTER</option>

            <option value="TURNAROUND MANAGER">TURNAROUND MANAGER</option>

            <option value="TURNER">TURNER</option>

            <option value="UNIT IN-CHARGE">UNIT IN-CHARGE</option>

            <option value="UNSPECIFIED">UNSPECIFIED</option>

            <option value="VALVE FITTER">VALVE FITTER</option>

            <option value="VALVE SUPERVISOR">VALVE SUPERVISOR</option>

            <option value="VALVE TECHNICIAN">VALVE TECHNICIAN</option>

            <option value="WAITER STAFF">WAITER STAFF</option>

            <option value="WAITER">WAITER</option>

            <option value="WALL PAINTING">WALL PAINTING</option>

            <option value="WELDER">WELDER</option>

            <option value="WELDER-2G">WELDER-2G</option>

            <option value="WELDER-3G">WELDER-3G</option>

            <option value="WELDER-6G">WELDER-6G</option>

            <option value="WELDER-ARC &amp;amp; ARGON">WELDER-ARC &amp;amp; ARGON</option>

            <option value="WELDER-ARC">WELDER-ARC</option>

            <option value="WELDER-DOLLY MIX">WELDER-DOLLY MIX</option>

            <option value="WELDER-DOWNHILL">WELDER-DOWNHILL</option>

            <option value="WELDER-FABRICATOR">WELDER-FABRICATOR</option>

            <option value="WELDER-FCAW + SMAW">WELDER-FCAW + SMAW</option>

            <option value="WELDER-FCAW">WELDER-FCAW</option>

            <option value="WELDER-GAS CUTTING">WELDER-GAS CUTTING</option>

            <option value="WELDER-GTAW+SMAW">WELDER-GTAW+SMAW</option>

            <option value="WELDER-MIG&amp;amp;TIG">WELDER-MIG&amp;amp;TIG</option>

            <option value="WELDER-MIG">WELDER-MIG</option>

            <option value="WELDER-PLATE">WELDER-PLATE</option>

            <option value="WELDER-STRUCTURAL">WELDER-STRUCTURAL</option>

            <option value="WELDER-TANK">WELDER-TANK</option>

            <option value="WELDER-TIG &amp;amp; ARC">WELDER-TIG &amp;amp; ARC</option>

            <option value="WELDING FOREMAN">WELDING FOREMAN</option>

            <option value="WELDING QA/QC INSPECTOR">WELDING QA/QC INSPECTOR</option>

            <option value="WELDING SUPERVISOR">WELDING SUPERVISOR</option>

          </select>
        </p>
        <p>
          <label for="id_email" class="font-serif font-bold">Email </label>
          <input type="email" name="email"
            class="block w-full text-sm text-gray-500 file:mr-4 file:py-1 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
            maxlength="250" required="" id="id_email">
        </p>
        <p>
          <label for="id_location" class="font-serif font-bold">Current Location <span
              class="text-lg font-bold text-red-600">*</span></label>
          <select name="location"
            class="block w-full text-sm text-gray-500 file:mr-4 file:py-1 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
            required="" id="id_location">
            <option value="" selected> - Select - </option>


            <option value="1">Saudi Arabia</option>

            <option value="2">German</option>

            <option value="3">Italy</option>

            <option value="4">Romania</option>

            <option value="5">Moldova</option>

            <option value="6">Canada</option>

            <option value="7">Australia</option>

            <option value="8">Hungary</option>

          </select>


        </p>

        <p>
          <label for="exp" class="font-serif font-bold">Gulf Exp In Years </label>
          <input type="text" name="exp"
            class="block w-full text-sm text-gray-500 file:mr-4 file:py-1 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
            maxlength="250" id="exp">
        <p class="-mt-5 text-sm text-[#444444]">
          <i>Please put your experience in Years and for use 0.5 Six months, 0.25 for Quarter etc.</i>
        </p>
        </p>

        <p class="-mt-5">
          <label for="exp2" class="font-serif font-bold">Saudi Exp in Years </label>
          <input type="text" name="exp2"
            class="block w-full text-sm text-gray-500 file:mr-4 file:py-1 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
            maxlength="250" id="exp2">
        <p class="-mt-5 text-sm text-[#444444]">
          <i>Please put your experience in Years and for use 0.5 Six months, 0.25 for Quarter etc.</i>
        </p>

        </p>
        <p class="-mt-5">
          <label for="id_resume" class="font-serif font-bold">Resume:</label>
          <input type="file" name="resume"
            class="block w-full text-sm text-gray-500 file:mr-4 file:py-1 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
            id="id_resume">
        <p class="-mt-2 text-sm text-[#444444]">
          <i>Upload your latest PDF format resume for perusal.-Maximum size 5 MB
          </i>
        </p>
        </p>

        <div class="flex justify-center">
          <button class="bg-[#d9534f] hover:bg-primary rounded font-sans text-sm px-3 py-2 text-white w-40"
            type="submit">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</section>


{% endblock %}